<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.escapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.escapp.view.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.escapp.view.SelectContestActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.escapp.view.DisplayContestActivity"
            android:label="@string/title_activity_display_contest"
            android:launchMode="singleTop"
            android:parentActivityName="com.escapp.view.SelectContestActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.escapp.view.SelectContestActivity" />
        </activity>
        <activity
            android:name="com.escapp.view.DisplayEntryActivity"
            android:label="@string/title_activity_display_entry"
            android:parentActivityName="com.escapp.view.DisplayContestActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.escapp.view.DisplayContestActivity" />
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>
